@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto', sans-serif;
}

@layer components {
  .today {
    @apply h-min w-full btn btn-primary text-3xl transition-all !text-white dark:!text-black ease-linear duration-100;
  }
  .coloredBtn {
    @apply h-min w-full btn btn-ghost hover:bg-primary hover:text-white dark:hover:text-black text-3xl transition-all ease-linear duration-100;
  }
  .setBtn {
    @apply p-1 rounded-sm text-xs transition-colors duration-100 font-bold;
  }
  .selectedBtn {
    @apply bg-primary text-white dark:text-black;
  }
  .numberField {
    @apply w-max rounded-md text-center text-3xl font-medium pl-2;
  }
  .editNumberField {
    @apply numberField text-secondary outline-secondary bg-secondary-content;
  }
  .viewNumberField {
    @apply numberField text-primary outline-primary bg-primary-content;
  }
  .actionBtn {
    @apply p-0 aspect-square rounded-xl font-bold text-2xl z-20 transition-all ease-linear duration-300 m-auto;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
